<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>
        <span class="goal-title">Master Node.js</span>
      </li>
      <li>
        <span class="goal-title">Build 3 projects</span>
      </li>
      <li>
        <span class="goal-title">Become a Web Developer</span>
      </li>
    </ul>
  </body>
</html>
