<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Document</title>
  </head>
  <body>
    <h1>My Favorite Websites</h1>

    <ul>
      <li>
        <a href="https://www.github.com" target="_blank">GitHub</a> - A great
        platform for hosting and reviewing code.
      </li>
      <li>
        <a href="https://www.stackoverflow.com" target="_blank"
          >Stack Overflow</a
        >
        - The go-to platform for coding questions and solutions.
      </li>
      <li>
        <a href="https://www.medium.com" target="_blank">Medium</a> - A platform
        with articles on a wide variety of topics, including tech and
        programming.
      </li>
      <li>
        <a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp</a>
        - Free learning resources to improve your coding skills.
      </li>
      <li>
        <a href="https://www.dev.to" target="_blank">Dev.to</a> - A community
        for developers to share ideas and tutorials.
      </li>
      <li>
        <a href="https://www.producthunt.com" target="_blank">Product Hunt</a> -
        Discover the latest and greatest products in tech.
      </li>
    </ul>
  </body>
</html>
