<!DOCTYPE html>
<html>
  <head>
    <title>Super Store</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to our website!!!</h1>
    <a href="/products">Go to products</a>
  </body>
</html>
