<header>
  <nav>
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts list</a></li>
      <li><a href="/users">Users list</a></li>
      <li><a href="/types">Types list</a></li>
    </ul>
  </nav>
</header>
